html,body
{
	margin:0;
	padding:0;
}

#panel-1 {
  background-image:url(../images/panel-1.png);
}
#panel-2 {
  background-image:url(../images/panel-2.png);
}
#panel-3a {
  background-image:url(../images/burp.png);
}
#panel-3 {
  background-image:url(../images/panel-3.png);
}
#panel-4 {
  background-image:url(../images/panel-4.png);
}
#panel-4b {
  background-image:url(../images/barf.png);
}
#panel-5 {
  background-image:url(../images/panel-5.png);
}
#panel-6 {
  background-image:url(../images/panel-6.png);
}




