.comic {
	width:320px;
  margin:0 auto;
}
.panel {
  width:320px;
}

#panel-1 {
	height:336px;
}
#panel-2 {
	height:336px;
}
#panel-3a {
	width:221px;
	height:146px;
}
#panel-3 {
	height:348px;
}
#panel-4 {
	height:358px;
}
#panel-4b {
	width:183px;
	height:73px;
}
#panel-5 {
	height:349px;
}
#panel-6 {
	height:333px;
}